In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df =pd.read_csv('mobile_data.csv')

In [ ]:
df.head()

,date,url,name,brand,price,original_price,discount,rating,total_ratings,1_star,2_star,3_star,4_star,5_star,camera_rating,battery_rating,display_rating,design_rating,ram,storage,battery,camera,processor,5g
0,2026-01-11,https://www.flipkart.com/apple-iphone-15-black...,"Apple iPhone 15 (Black, 128 GB)",Apple,59900,59900,0,4.6,6270746,0,0,0,0,0,4.5,7.5,4.5,7.5,"240 fps, 120 fps, 60 fps, 30 fps, 25 fps, 24 fps",128 GB,NaN,Yes,Apple,No
1,2026-01-11,https://www.flipkart.com/samsung-galaxy-s24-ex...,"Samsung Galaxy S24 Exynos 5G (Cobalt Violet, 2...",Samsung,55999,55999,0,4.6,68481,0,0,0,0,0,4.6,4.6,4.6,3.2,8 GB,256 GB,4000 mAh,Yes,Exynos,Yes
2,2026-01-11,https://www.flipkart.com/oneplus-12-silky-blac...,"OnePlus 12 (Flowy Emerald, 512 GB) (16 GB RAM)",OnePlus,56699,56699,0,4.6,61566,0,0,0,0,0,4.9,4.9,4.9,7.8,16 GB,512 GB,5400 mAh,64MP Rear Camera,Snapdragon,No

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            3 non-null      object
 1   url             3 non-null      object
 2   name            3 non-null      object
 3   brand           3 non-null      object
 4   price           3 non-null      int64
 5   original_price  3 non-null      int64
 6   discount        3 non-null      int64
 7   rating          3 non-null      float64
 8   total_ratings   3 non-null      int64
 9   1_star          3 non-null      int64
 10  2_star          3 non-null      int64
 11  3_star          3 non-null      int64
 12  4_star          3 non-null      int64
 13  5_star          3 non-null      int64
 14  camera_rating   3 non-null      float64
 15  battery_rating  3 non-null      float64
 16  display_rating  3 non-null      float64
 17  design_rating   3 non-null      float64
 18  ram             3 non-null      object
 19  storage         3 non-null      object
 20  battery         2 non-null      object
 21  camera          3 non-null      object
 22  processor       3 non-null      object
 23  5g              3 non-null      object
dtypes: float64(5), int64(9), object(10)
memory usage: 708.0+ bytes

In [ ]:
pd.set_option('display.max_columns', None)
df

,date,url,name,brand,price,original_price,discount,rating,total_ratings,1_star,2_star,3_star,4_star,5_star,camera_rating,battery_rating,display_rating,design_rating,ram,storage,battery,camera,processor,5g
0,2026-01-11,https://www.flipkart.com/apple-iphone-15-black...,"Apple iPhone 15 (Black, 128 GB)",Apple,59900,59900,0,4.6,6270746,0,0,0,0,0,4.5,7.5,4.5,7.5,"240 fps, 120 fps, 60 fps, 30 fps, 25 fps, 24 fps",128 GB,NaN,Yes,Apple,No
1,2026-01-11,https://www.flipkart.com/samsung-galaxy-s24-ex...,"Samsung Galaxy S24 Exynos 5G (Cobalt Violet, 2...",Samsung,55999,55999,0,4.6,68481,0,0,0,0,0,4.6,4.6,4.6,3.2,8 GB,256 GB,4000 mAh,Yes,Exynos,Yes
2,2026-01-11,https://www.flipkart.com/oneplus-12-silky-blac...,"OnePlus 12 (Flowy Emerald, 512 GB) (16 GB RAM)",OnePlus,56699,56699,0,4.6,61566,0,0,0,0,0,4.9,4.9,4.9,7.8,16 GB,512 GB,5400 mAh,64MP Rear Camera,Snapdragon,No

In [ ]:
# Check star breakdown columns
df[['name', '5_star', '4_star', '3_star', '2_star', '1_star']].head()

,name,5_star,4_star,3_star,2_star,1_star
0,"Apple iPhone 15 (Black, 128 GB)",0,0,0,0,0
1,"Samsung Galaxy S24 Exynos 5G (Cobalt Violet, 2...",0,0,0,0,0
2,"OnePlus 12 (Flowy Emerald, 512 GB) (16 GB RAM)",0,0,0,0,0