Requirement already satisfied: pandas in c:\users\yashs\desktop\minor 2\.venv\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\yashs\desktop\minor 2\.venv\lib\site-packages (from pandas) (2.4.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\yashs\desktop\minor 2\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\yashs\desktop\minor 2\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\yashs\desktop\minor 2\.venv\lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\yashs\desktop\minor 2\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.3 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('iphone15_augmented.csv')

In [6]:
df.head()

,rating,title,review_text
0,5,Awesome,Switch from OnePlus to iPhone I am stunned wit...
1,5,Fabulous!,"So beautiful, so elegant, just a vowww Akshay ..."
2,5,Wonderful,Amezing camera and all over best phone Neeraj ...
3,5,Fabulous!,"Awesome Thakur Surya Pratap Singh , Hanumana G..."
4,5,Worth every penny,Awesome photography experience. Battery backup...